[Unit]
Description=Filecoin Lotus Daemon
After=network.target

[Service]
Environment="LOTUS_PATH=/mnt/lotus-data"
ExecStart=/mnt/lotus/lotus daemon
WorkingDirectory=/mnt/lotus
StandardOutput=append:/mnt/logs/lotus/log-file.log
StandardError=append:/mnt/logs/lotus/log-file.log
Restart=always
User=ubuntu

[Install]
WantedBy=default.target

